@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #202124;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4286;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: rgb(104, 227, 104);
}

.container {
    width: 25%;
    background-color: #ccc;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.create-acc{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color:antiquewhite
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#logo {
    width: 75px;
    height: 100px;
}
#info{
    padding-bottom: 20px;
}
.form-name{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 40px;
    gap:10px;
}
.name{
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #202124;
    font-size: 16px;
    height: 28px;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
    z-index: 1;
    width: 90%;
}
.create-account{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.next{
    color: black;
    font-weight: 700;
    letter-spacing: .25px;
    background-color: antiquewhite;
    border: 0;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
    font-size: .875rem;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}